@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 300vh;
}

section.one,
section.three {
    background-color: tomato;
    color: rgb(233, 160, 194);
    flex-grow: 1;
}

section.two,
section.four {
    background-color: rgb(233, 160, 194);
    color: tomato;
    flex-grow: 1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

footer {
    flex-basis: 350px;
    width: 100%;
    background-color: rgb(240, 207, 229);
    color: tomato;
    text-align: center;
    line-height: 350px;
    font-size: 100px;
}

.heyYou {
    position: fixed;
    right: 70px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(240, 207, 229);
    color: tomato;
    overflow: hidden;
    transition: 1s;
}

.heyYou i {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 250px;
    transform: translate(10px, -50%);
    font-size: 30px;
}


.heyYou i.pos {
    display: block;
    left: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
}